@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "sabzmanzil-light";
  default: true;
  prefersdark: true;
  color-scheme: "light";

  /* Base */
  --color-base-100: #F5F9FC;   /* background */
  --color-base-200: #EEF4FA;
  --color-base-300: #E4EDF6;
  --color-base-content: #2C2F3A; /* text */

  /* Brand Colors */
  --color-primary: #1F6FA8;          /* River Blue */
  --color-primary-content: #FFFFFF;

  --color-secondary: #0B3C5D;        /* Deep Water */
  --color-secondary-content: #FFFFFF;

  --color-accent: #F4A261;           /* CTA */
  --color-accent-content: #2C2F3A;

  /* Neutral */
  --color-neutral: #2C2F3A;
  --color-neutral-content: #FFFFFF;

  /* Status Colors (soft & tourism friendly) */
  --color-info: #1F6FA8;
  --color-info-content: #FFFFFF;

  --color-success: #2A9D8F;
  --color-success-content: #FFFFFF;

  --color-warning: #E9C46A;
  --color-warning-content: #2C2F3A;

  --color-error: #E76F51;
  --color-error-content: #FFFFFF;

  /* Shape & UI Feel */
  --radius-selector: 0.5rem;
  --radius-field: 0.375rem;
  --radius-box: 0.75rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-body: "Inter", "sans-serif";
  --font-heading: "Poppins", "sans-serif";
  --font-accent: "Playfair Display", "serif";
}

body {
  @apply font-body;
}

.wrapper {
  @apply container px-6 mx-auto;
}